//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: rem(9) rem(13);
	background-color: $mainColor;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	font-weight: 500;
	font-size: rem(18);
	color: #fff;

	@media (any-hover: hover) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
}
