.checkbox {
	position: relative;

	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .checkbox__label:before {
		}
		&:checked + .checkbox__label:before {
			color: #fff;
		}
		&._form-error + label::before {
			border-color: red;
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 10px;

		&:before {
			@extend %ic;
			content: "\e908";
			align-self: flex-start;
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
			border: 1px solid #fff;

			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin-right: rem(5);

			color: transparent;
		}
	}
	// .checkbox__text
	&__text {
	}
}
