//====================================================================================================
.footer {
    padding: rem(30) 0 rem(39);
    background-color: #e4e6e9;
    // .footer__container
    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        gap: rem(20);

        @media (min-width: $mobile) {
            flex-direction: row;
        }
    }
    // .footer__info
    &__info {
        order: 1;
    }
    // .footer__contacts
    &__contacts {
        display: flex;
        flex-wrap: wrap;
        @include adaptiveValue("gap", 100, 5);
        order: 2;

        @media (min-width: $mobile) {
            flex-wrap: nowrap;
            padding-top: rem(40);
        }
    }
    // .footer__menu
    &__menu {
        display: flex;

        order: 1;
        width: 100%;

        @media (min-width: $mobile) {
            order: 0;
            justify-content: space-evenly;
        }
        @media (min-width: $tablet) {
            padding-top: rem(40);
            width: auto;
            order: 3;
        }
    }
}
.info-footer {
    // .info-footer__logo
    &__logo {
    }
    // .info-footer__copy
    &__copy {
        margin-top: rem(22);
        margin-bottom: rem(10);
    }
    // .info-footer__privacy
    &__privacy {
        margin-bottom: rem(15);
        text-decoration: underline !important;
    }
}
.contacts-footer {
    // .contacts-footer__column
    &__column {
        button {
            color: $darkColor;
            span {
                border-bottom: 1px dotted;
            }
        }

        &:not(:last-child) {
            margin-bottom: rem(20);

            @media (min-width: $mobile) {
                margin-bottom: 0;
            }
        }
    }
    // .contacts-footer__item
    &__item {
        font-weight: 500;

        &:not(:last-child) {
            margin-bottom: rem(20);

            @media (min-width: $tablet) {
                margin-bottom: rem(11);
            }
        }
    }
}
.menu-footer {
    // .menu-footer__body
    &__body {
    }
    // .menu-footer__list
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: rem(20);

        @media (min-width: $mobile) {
            flex-direction: row;
        }
        @media (min-width: $tablet) {
            display: block;
        }
    }
    // .menu-footer__item
    &__item {
        @media (min-width: $tablet) {
            margin-bottom: rem(11);
        }
    }
    // .menu-footer__link
    &__link {
        font-weight: 500;
        font-size: rem(14);
        text-transform: uppercase;
    }
}

//====================================================================================================
