//====================================================================================================
.services {
    @include adaptiveValue("margin-bottom", 80, 50);
    // .services__container
    &__container {
    }
    // .services__title
    &__title {
        margin-bottom: rem(30);
        text-transform: uppercase;
    }
    // .services__list
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
        gap: rem(30);

        @media (min-width: $tablet) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    // .services__item
    &__item {
        height: rem(320);
        position: relative;
        overflow: hidden;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15), 0px 11px 37px rgba(0, 0, 0, 0.4);

        @media (min-width: $mobile) {
            height: rem(270);
        }

        @media (min-width: $tablet) {
            height: rem(320);
            &:nth-child(3),
            &:nth-child(4) {
                grid-column: span 2;
            }

            &:hover {
                .item-services__title {
                    margin-bottom: rem(10);
                    padding-bottom: rem(10);
                    border-bottom: 1px solid #fff;
                }
                .item-services__text {
                    transform: translateY(0);
                    max-height: rem(50);
                    font-size: rem(16);
                }

                .item-services__image-ibg img {
                    transform: scale(1.05) rotate(1deg);
                }
            }
        }

        @media (min-width: $pc) {
            height: rem(416);
        }
    }
}
.item-services {
    // .item-services__image-ibg
    &__image-ibg {
        height: 100%;

        img {
            transition: transform 0.4s ease;
        }
    }
    // .item-services__content
    &__content {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        width: 100%;
        padding: rem(15) rem(20);
        background: linear-gradient(90deg, rgba(51, 51, 51, 0.5) 0%, rgba(51, 51, 51, 0.15) 100%);
        backdrop-filter: blur(10px);

        transition: height 0.4s;
    }
    // .item-services__title
    &__title {
        color: #fff;
        text-transform: uppercase;
    }
    // .item-services__text
    &__text {
        transform: translateY(100%);
        font-size: 0;
        max-height: 0;
        color: #fff;
        transition: max-height 0.4s ease-in;
    }
}
//====================================================================================================

.advantages {
    @include adaptiveValue("margin-bottom", 80, 50);
    padding: rem(48) 0 rem(56);
    background-color: $darkColor;

    // .advantages__container
    &__container {
    }
    // .advantages__list
    &__list {
        @include gridCards("fit", rem(120), 1fr, rem(30));

        @media (min-width: $mobileSmall) {
            @include gridCards("fit", rem(180), 1fr, rem(30));
        }

        @media (min-width: $mobile) {
            @include gridCards("fit", rem(200), 1fr, rem(60));
        }

        @media (min-width: $tablet) {
            @include gridCards("fit", rem(130), 1fr, rem(30));
        }
    }
    // .advantages__item
    &__item {
    }
}
.item-advantages {
    // .item-advantages__image
    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto rem(10);
        width: rem(155);
        height: rem(155);
        background: url("@img/advantages/background.png") center center no-repeat;
    }
    // .item-advantages__title
    &__title {
        font-weight: 600;
        font-size: rem(14);
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }
}

//========================================================================================================================================================
.about {
    @include adaptiveValue("margin-bottom", 74, 40);
    padding: rem(40) 0 rem(80);
    position: relative;

    @media (min-width: $tablet) {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            width: 55%;
            height: 100%;
            background: linear-gradient(186.82deg, rgba(255, 255, 255, 0.5) 5.34%, rgba(0, 0, 0, 0.5) 202.36%), #c9ccd3;
            background-blend-mode: lighten, normal;
            opacity: 0.5;

            @media (min-width: $pc) {
                width: 65%;
            }
        }
    }

    // .about__container
    &__container {
        display: grid;
        grid-template-columns: 1fr;
        @include adaptiveValue("gap", 120, 30);

        @media (min-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: em(1280)) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    // .about__images
    &__images {
        display: flex;
        align-items: flex-end;
        margin-bottom: rem(50);

        @media (min-width: em(1280)) {
            grid-column: span 2;
        }
    }
    // .about__content
    &__content {
    }
}
.images-about {
    // .images-about__big
    &__big {
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15), 0px 11px 37px rgba(0, 0, 0, 0.4);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    // .images-about__small
    &__small {
        margin-bottom: rem(-40);
        margin-left: rem(-60);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15), 0px 11px 37px rgba(0, 0, 0, 0.4);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (min-width: $tablet) {
            display: none;
        }

        @media (min-width: em(1280)) {
            display: block;
        }
    }

    &__big,
    &__small {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            border: 2px solid $darkColor;
            transform: rotate(15deg);
        }
    }
}
.content-about {
    // .content-about__title
    &__title {
        margin-bottom: rem(30);
        text-transform: uppercase;
    }
    // .content-about__text
    &__text {
        @include adaptiveValue("margin-bottom", 70, 30);

        p {
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
    }
    // .content-about__button
    &__button {
    }
}
//========================================================================================================================================================
.partners {
    @include adaptiveValue("margin-bottom", 96, 50);
    padding: rem(50) 0;
    background: #f4f4f6;

    // .partners__container
    &__container {
        display: flex;
        flex-direction: column;
        gap: rem(50);

        @media (min-width: $tablet) {
            flex-direction: row;
            align-items: center;
        }
    }
    // .partners__left
    &__left {
        @media (min-width: $tablet) {
            flex: 0 0 rem(320);
        }
    }
    // .partners__slider
    &__slider {
    }
    // .partners__wrapper
    &__wrapper {
        transition-timing-function: linear !important;
    }
    // .partners__slide
    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
}
.left-partners {
    // .left-partners__title
    &__title {
        margin-bottom: rem(5);
        text-transform: uppercase;
    }
    // .left-partners__subtitle
    &__subtitle {
        font-weight: 500;
        font-size: rem(14);
    }
}
//========================================================================================================================================================
.videos {
    display: flex;
    flex-direction: column;
    gap: rem(31);
    @include adaptiveValue("margin-bottom", 60, 40);
    position: relative;

    @media (min-width: $mobile) {
        flex-direction: row;
    }

    // .videos__header
    &__header {
        display: flex;
        flex-direction: column;

        padding: rem(30) rem(86) rem(40) rem(15);
        background-color: #248099;

        border-radius: 8px;
        @include adaptiveValue("padding-left", 232, 15, 1920, 1440, 1);
        color: #fff;

        @media (min-width: $mobile) {
            flex: 0 0 rem(350);
            border-radius: 0px 8px 8px 0px;
        }
    }
    // .videos__title
    &__title {
        margin-bottom: rem(20);
        text-transform: uppercase;
    }
    // .videos__subtitle
    &__subtitle {
        margin-bottom: rem(40);
    }
    // .videos__button
    &__button {
        margin-top: auto;
    }
    // .videos__slider
    &__slider {
        flex: 1 1 auto;
    }
    // .videos__wrapper
    &__wrapper {
    }
    // .videos__slide
    &__slide {
        border-radius: 6px;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: rem(40);
            height: rem(40);
            background: url("@img/icons/play.svg") center no-repeat;
            background-size: contain;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}
.slide-videos {
    // .slide-videos__poster
    &__poster {
        height: 100%;
        min-height: rem(250);

        @media (min-width: $tablet) {
            min-height: rem(300);
        }
    }
    // .slide-videos__video
    &__video {
        display: flex;
        justify-content: center;
        align-items: center;

        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 1000;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);

        background-color: rgba($mainColor, 0.1);

        video {
            width: 100%;
            height: 100%;
            max-height: rem(700);
        }

        ._play {
            position: fixed;
            top: 50%;
            left: 50%;
            z-index: 1001;
            background-color: transparent;
        }
    }
}
//========================================================================================================================================================
.faq {
    @include adaptiveValue("margin-bottom", 60, 40);
    // .faq__container
    &__container {
    }
    // .faq__title
    &__title {
        margin-bottom: rem(60);
        text-transform: uppercase;
    }
    // .faq__list
    &__list {
        @media (min-width: $mobile) {
            @include gridCards("fit", rem(500), 1fr);
            @include adaptiveValue("column-gap", 210, 20);
        }

        .spollers {
            // .spollers__item
            &__item {
                position: relative;
            }
            // .spollers__title
            &__title {
                span {
                    display: block;
                    padding-right: rem(20);
                }
            }
            // .spollers__body
            &__body {
                padding-bottom: rem(20);
            }
        }
    }
}
