.intro {
    display: flex;
    align-items: center;
    height: rem(740);
    // .intro__container
    &__container {
        width: 100%;

        @media (min-width: $mobile) {
            display: flex;
            justify-content: flex-end;
        }
    }
    // .intro__form
    &__content {
        position: relative;
        padding: rem(17) rem(26);
        flex: 0 0 rem(477);

        box-shadow: 0px 7px 10px 2px rgba(0, 0, 0, 0.25);
        color: #fff;

        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            inset: -1%;
            background: rgba(47, 58, 61, 0.8);
            backdrop-filter: blur(7.5px);
        }
    }
}
.content-intro {
    // .content-intro__title
    &__title {
        margin-bottom: rem(30);
        @include adaptiveValue("font-size", 30, 21);
        font-weight: 500;
        font-size: rem(24);
        text-transform: uppercase;
        text-align: center;
    }
    // .content-intro__links
    &__links {
        display: flex;
        justify-content: space-evenly;
        gap: rem(20);
        margin-bottom: rem(50);
        @include adaptiveValue("margin-bottom", 50, 20);
    }
    // .content-intro__link
    &__link {
        padding: rem(6) rem(13);
        font-size: rem(14);
        border: 1px solid;
        border-radius: 25px;

        &:hover {
            color: $lightColor;
        }

        @media (min-width: $mobileSmall) {
            padding: rem(13) rem(27);
            font-size: rem(16);
        }
    }
    // .content-intro__subtitle
    &__subtitle {
        margin-bottom: rem(30);
        font-size: rem(20);
        @include adaptiveValue("font-size", 20, 16);
        text-align: center;
    }
    // .content-intro__form
    &__form {
        text-align: center;

        .input {
            margin-bottom: rem(30);
            background-color: transparent;
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid #fff;
            color: #fff;
            font-size: inherit;

            &::placeholder {
                color: #fff;
                font-size: inherit;
            }
        }
        .checkbox {
            margin-bottom: rem(30);
            text-align: left;

            // .checkbox__input
            &__input {
            }
            // .checkbox__label
            &__label {
            }
            // .checkbox__text
            &__text {
                a {
                    text-decoration: underline !important;

                    &:hover {
                        color: $lightColor;
                    }
                }
            }
        }
        .button {
            margin: 0 auto;
        }
    }
}
//========================================================================================================================================================
.page-title {
    // .page-title__container
    &__container {
    }
    // .page-title__title
    &__title {
        @include adaptiveValue("margin-bottom", 60, 30);
        font-weight: 500;
        font-size: rem(30);
        text-transform: uppercase;
    }
    // .page-title__slider
    &__slider {
        margin-bottom: rem(60);
    }
    // .page-title__wrapper
    &__wrapper {
        margin-bottom: rem(20);
    }
    // .page-title__slide
    &__slide {
        display: flex;
        flex-direction: column-reverse;
        @media (min-width: $tablet) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    // .page-title__pagination
    &__pagination {
        display: flex;
        justify-content: center;

        .swiper-pagination-bullet {
            flex: 0 0 rem(10);
            height: rem(10);
            background-color: #d9d9d9;
            cursor: pointer;

            &-active {
                background-color: $lightColor;
            }

            &:not(:last-child) {
                margin-right: rem(20);
            }
        }
    }
}
.slide-page-title {
    // .slide-page-title__text
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 100%;
        padding: rem(20);
        background-color: #f2f2f7;

        p {
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }

        @media (min-width: $mobile) {
            padding: rem(50);
        }
    }
    // .slide-page-title__image
    &__image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
//========================================================================================================================================================
.catalog {
    @include adaptiveValue("margin-bottom", 90, 50);

    // .catalog__container
    &__container {
    }
    // .catalog__title
    &__title {
        @include adaptiveValue("margin-bottom", 60, 30);
        text-transform: uppercase;
    }
    // .catalog__list
    &__list {
        @include gridCards("fit", rem(300), 1fr, rem(30));
        row-gap: rem(60);
    }
}
//========================================================================================================================================================
.key {
    margin-bottom: rem(80);
    // .key__container
    &__container {
    }
    // .key__title
    &__title {
        margin-bottom: rem(60);
        text-transform: uppercase;
    }
    // .key__content
    &__content {
        background-color: $darkColor;
        padding: rem(62) 0 rem(29);
    }
    // .key__list
    &__list {
        @extend %listCounter;
        @include gridCards("fit", rem(100), 1fr);
    }
    // .key__item
    &__item {
        display: flex;
        flex-direction: column;

        &::before {
            font-weight: 600;
            font-size: rem(48);
            text-shadow: 1px 0 1px #fff, 0 1px 1px #fff, -1px 0 1px #fff, 0 -1px 1px #fff;
            color: $darkColor;
            top: rem(-30) !important;
            left: rem(25) !important;
        }
    }
}
.item-key {
    // .item-key__image
    &__image {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 auto rem(8);

        background: linear-gradient(138.43deg, rgba(255, 255, 255, 0.5) -18.41%, rgba(255, 255, 255, 0) 105.64%);
        border-radius: 8px;

        width: rem(110);
        height: rem(110);
    }
    // .item-key__title
    &__title {
        font-weight: 500;
        font-size: rem(15);
        color: #fff;
        text-align: center;
    }
}
//========================================================================================================================================================
.portfolio {
    margin-bottom: rem(60);
    // .portfolio__container
    &__container {
    }
    // .portfolio__grid
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
        gap: rem(20);

        @media (min-width: $pc) {
            grid-template-columns: repeat(5, 1fr);
        }
    }
    // .portfolio__item
    &__item {
        img {
            width: 100%;
            height: rem(353);
            object-fit: cover;
        }

        @media (min-width: $pc) {
            &:nth-child(2) {
                grid-column: span 2;
            }
            &:nth-child(5) {
                grid-column: span 3;
            }
        }
    }
}
