.tariffs {
    // .tariffs__container
    &__container {
    }
    // .tariffs__intro
    &__intro {
        margin-bottom: rem(99);
        padding-top: rem(130);
    }
    // .tariffs__whywe
    &__whywe {
        margin-bottom: rem(100);
    }
    // .tariffs__cars
    &__cars {
    }
    // .tariffs__meeting
    &__meeting {
    }
    // .tariffs__reviews
    &__reviews {
    }
    // .tariffs__text-block
    &__text-block {
    }
}
//========================================================================================================================================================

.intro {
    // .intro__title
    &__title {
        font-weight: 700;
        font-size: rem(54);
        text-align: center;
    }
    // .intro__subtitle
    &__subtitle {
        margin-bottom: rem(35);
        font-weight: 700;
        font-size: rem(54);
        color: $grey;
        text-align: center;

        a {
            &:first-child {
                text-decoration: underline;
            }
        }
    }
    // .intro__wrapper
    &__wrapper {
        display: flex;
        @include adaptiveValue("gap", 174, 30, 1920, 991, 1);
    }
    // .intro__form
    &__form {
        flex: 1 1 50%;

        .form__title {
            margin-bottom: 20px;
            font-weight: 700;
            font-size: rem(20);
        }
    }
    // .intro__text
    &__text {
        flex: 0 0 50%;
    }
}
.text-intro {
    // .text-intro__content
    &__content {
    }
    // .text-intro__more
    &__more {
        margin-top: rem(32);
        color: $grey;
        text-decoration: underline;
    }
}
//========================================================================================================================================================

.whywe {
    // .whywe__title
    &__title {
        margin-bottom: rem(35);
        font-weight: 700;
        font-size: rem(44);
        text-align: center;
    }
    // .whywe__list
    &__list {
        display: flex;
        justify-content: space-between;
    }
    // .whywe__item
    &__item {
    }
}
.item-whywe {
    // .item-whywe__image
    &__image {
    }
    // .item-whywe__title
    &__title {
    }
}
.cars {
    // .cars__title
    &__title {
    }
    // .cars__slider
    &__slider {
    }
    // .cars__wrapper
    &__wrapper {
    }
    // .cars__slide
    &__slide {
    }
    // .cars__scrollbar
    &__scrollbar {
    }
}
.swiper {
}
.swiper-wrapper {
}
.slide-cars {
    // .slide-cars__title
    &__title {
    }
    // .slide-cars__subtitle
    &__subtitle {
    }
    // .slide-cars__image
    &__image {
    }
    // .slide-cars__btns
    &__btns {
    }
    // .slide-cars__button
    &__button {
    }
}
.swiper-slide {
}
.swiper-scrollbar {
}
.meeting {
    // .meeting__title
    &__title {
    }
    // .meeting__list
    &__list {
    }
    // .meeting__item
    &__item {
    }
}
.item-meeting {
    // .item-meeting__image
    &__image {
    }
    // .item-meeting__text
    &__text {
    }
}
.text-item-meeting {
    // .text-item-meeting__content
    &__content {
    }
    // .text-item-meeting__more
    &__more {
    }
}
.reviews {
    // .reviews__title
    &__title {
    }
    // .reviews__slider
    &__slider {
    }
    // .reviews__wrapper
    &__wrapper {
    }
    // .reviews__slide
    &__slide {
    }
    // .reviews__scrollbar
    &__scrollbar {
    }
}
.slide-reviews {
    // .slide-reviews__name
    &__name {
    }
    // .slide-reviews__text
    &__text {
    }
}
.text-block {
    // .text-block__image
    &__image {
    }
    // .text-block__text
    &__text {
    }
    // .text-block__content
    &__content {
    }
    // .text-block__more
    &__more {
    }
}
